global
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    user haproxy
    group haproxy
    daemon
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend ssl_terminator
    mode tcp
    bind *:443,*:8443,*:2053,*:2087,*:2096 ssl crt /etc/xray/xray.pem alpn h2,http/1.1
    default_backend internal_router_loop

frontend http_front
    mode http
    bind *:80,*:8080,*:8880,*:2052,*:2086,*:2095
    default_backend http_router_loop

backend internal_router_loop
    mode tcp
    server internal 127.0.0.1:8444 send-proxy-v2

frontend internal_router
    mode tcp
    bind 127.0.0.1:8444 accept-proxy
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

    acl is_ssh_protocol req.payload(0,4) -m bin 5353482d
    use_backend ssh_stunnel_back if is_ssh_protocol
    default_backend http_router_loop

backend http_router_loop
    mode http
    server internal 127.0.0.1:8445 send-proxy-v2

frontend http_router
    mode http
    bind 127.0.0.1:8445 accept-proxy

    acl is_websocket    hdr(Upgrade) -i websocket
    acl path_vless      path_beg /vless
    acl path_vmess      path_beg /vmess
    acl path_trojan_ws  path_beg /trojan-ws
    acl path_ss_ws      path_beg /ss-ws
    acl path_vless_grpc   path_beg /vless-grpc
    acl path_vmess_grpc   path_beg /vmess-grpc
    acl path_trojan_grpc  path_beg /trojan-grpc
    acl path_ss_grpc      path_beg /ss-grpc

    use_backend xray_vless_grpc_back   if path_vless_grpc
    use_backend xray_vmess_grpc_back   if path_vmess_grpc
    use_backend xray_trojan_grpc_back  if path_trojan_grpc
    use_backend xray_ss_grpc_back      if path_ss_grpc

    use_backend xray_vless_ws_back   if is_websocket path_vless
    use_backend xray_vmess_ws_back   if is_websocket path_vmess
    use_backend xray_trojan_ws_back  if is_websocket path_trojan_ws
    use_backend xray_ss_ws_back      if is_websocket path_ss_ws
    use_backend ssh_ws_back          if is_websocket

backend ssh_stunnel_back
    mode tcp
    balance roundrobin
    server openssh_server 127.0.0.1:22
    server dropbear_110 127.0.0.1:110 
    server dropbear_143 127.0.0.1:143   

backend ssh_ws_back
    mode http
    server ssh_ws_ku 127.0.0.1:10015

backend xray_vless_ws_back
    mode http
    server xray_vless_ws_server 127.0.0.1:10001
backend xray_vmess_ws_back
    mode http
    server xray_vmess_ws_server 127.0.0.1:10002
backend xray_trojan_ws_back
    mode http
    server xray_trojan_ws_server 127.0.0.1:10003
backend xray_ss_ws_back
    mode http
    server xray_ss_ws_server 127.0.0.1:10004

backend xray_vless_grpc_back
    mode http
    server xray_vless_grpc_server 127.0.0.1:10005 proto h2
backend xray_vmess_grpc_back
    mode http
    server xray_vmess_grpc_server 127.0.0.1:10006 proto h2
backend xray_trojan_grpc_back
    mode http
    server xray_trojan_grpc_server 127.0.0.1:10007 proto h2
backend xray_ss_grpc_back
    mode http
    server xray_ss_grpc_server 127.0.0.1:10008 proto h2